<div class="landing_page">
	<header>
		<h3>LRC</h3>
		<a href="" class="nav_handle"></a>
		<nav class="hide_away">
			<form>
				<input type="text" placeholder="Search" required>
				<input type="button" value ="Search">
			</form>
			<a href="">Distributed Learning</a>
			<a href="">Blackboard</a>
			<a href="">ALMS</a>
			<a href="">WTSP</a>
			<a href="">CATS</a>
		</nav>
	</header>
	<div>
		<h1>Welcome to the Learning Resource Center</h1>
	</div>
	<div>
		<h3>Select a path to begin searching.</h3>
		<button>Operational</button>
		<button>Institutional</button>
	</div>
	<footer>
		<p>This site contains information exempt from mandatory disclosure under FOIA, exemption category 3 applies. Distribution is authorized to U.S Government agencies and their contractors based on technical provisions provided in DOD 5230.25- PH, effective 25 April 2006. Other requests for information will be referred to: LandWarNet eUniversity Signal Lifelong Learning Center, Fort Gordon, Directorate of Training. FOR OFFICIAL USE ONLY</p>
	</footer>
</div>